aiodns==3.0.0
aiosmtpd==1.4.2
APScheduler==3.6.3
atpublic==2.3
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
gunicorn==20.1.0
idna==2.10
pycares==4.0.0
pycparser==2.20
python-dotenv==0.17.1
python-telegram-bot==13.5
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
tornado==6.1
typing-extensions==3.10.0.0
tzlocal==2.1
